:root {
    color-scheme: dark;
}

body {
    color: #fff;
    display: grid;
    font-family: 'Geist', sans-serif;
    font-size: 0.8125rem;
    height: 100vh;
    margin: 0;
    width: 100%;
}

#drag-target,
main {
    grid-area: 1 / 1;
}

#drag-target {
    app-region: drag; // Electron specific
}

.no-drag {
    app-region: no-drag; // Electron specific
}

main {
    background: hsl(240deg 4% 12% / 85%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 16px;
    width: 100%;

    #header,
    #footer {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        height: 54px;
        padding: 16px 0;
    }

    #header p {
        margin: 0;
    }

    #content {
        align-items: center;
        background-color: hsl(0deg 0% 100% / 5%);
        border: solid 1px hsl(0deg 0% 100% / 10%);
        border-radius: 6px;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        
        #form {
            display: flex;
            flex-direction: column;
            gap: 6px;

            .control-group {
                align-items: center;
                display: flex;
                gap: 12px;
                width: 100%;

                label {
                    display: inline-block;
                    text-align: right;
                    width: 150px;
                }
            }
        }
    }

    #footer {
        justify-content: space-between;
    }
}