<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Vault</title>
</head>
<body>
    <div id="drag-target"></div>
    <main>
        <div id="header">
            <p>Configure your vault:</p>
        </div>
        <div id="content">
            <div id="form">
                <div class="control-group">
                    <label>Vault Name:</label>
                    <input type="text" id="display-name-ipt" class="no-drag" />
                </div>
                <div class="control-group">
                    <label>Save Location:</label>
                    <file-picker
                        id="save-location"
                        class="no-drag"
                        title="Select vault save location.">
                    </file-picker>
                </div>
                <div class="control-group">
                    <label>Password:</label>
                    <input type="password" id="password-input" class="no-drag" />
                </div>
            </div>
        </div>
        <div id="footer">
            <button id="cancel-btn" class="no-drag">Cancel</button>
            <button id="create-btn" class="no-drag">Create</button>
        </div>
    </main>
</body>
</html>