@use '@styles/fonts/geist';

body {
    color: #fff;
    display: grid;
    font-family: 'Geist', sans-serif;
    font-size: 0.875rem;
    height: 100vh;
    margin: 0;
}

#drag-target,
main {
    grid-area: 1 / 1;
}

#drag-target {
    // Electron specific
    app-region: drag;
}

.no-drag {
    // Electron specific
    app-region: no-drag;
}

main {
    align-items: center;
    background: hsl(240deg 4% 12% / 85%);
    display: flex;
    flex-direction: column;
    gap: 64px;
    height: 100%;
    justify-content: center;
    width: 100%;

    #branding {
        text-align: center;

        #app-name {
            align-items: start;
            color: hsl(0deg 0% 100% / 80%);
            display: flex;
            font-size: 1.5rem;
            font-weight: 600;
            gap: 8px;
            line-height: 1em;
            margin: 0;
            margin-bottom: 6px;

            &.alpha::after {
                background-color: hsl(0deg 0% 100% / 80%);
                display: inline-block;
                border-radius: 5px;
                color: #000;
                content: 'Alpha';
                font-size: 0.6875rem;
                font-weight: 500;
                line-height: initial;
                padding: 1px 4px;
            }
        }
        
        #app-version {
            color: hsl(0deg 0% 100% / 60%);
            margin: 0;
        }
    }

    #actions {
        display: flex;
        gap: 64px;
    }
}

#close-btn {
    $size: 20px;
    $offset: 16px;
    $icon-size: 8px;

    align-items: center;
    background-color: hsl(0deg 0% 100% / 10%);
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: $size;
    justify-content: center;
    position: absolute;
    right: $offset;
    top: $offset;
    transition: background-color 0.2s ease-in-out;
    width: $size;

    svg {
        width: $icon-size;
        height: $icon-size;
        fill: hsl(0deg 0% 100% / 85%);
        transition: fill 0.2s ease-in-out;

        &:hover {
            fill: #fff;
        }
    }

    &:hover {
        background-color: hsl(0deg 0% 100% / 12%);

        svg {
            fill: hsl(0deg 0% 100% / 50%);
        }
    }
}