#layout_user_avatar,
#inner_circle {
    background-color: white;
    border-radius: 50%;
    display: grid;
    overflow: hidden;
    place-items: center;
}

#layout_user_avatar {
    border: solid 1.5px #b14dff;
    box-sizing: border-box;
    height: 34px;
    position: absolute;
    right: 10px;
    width: 34px;
}

#inner_circle {
    height: 30px;
    width: 30px;
}

#layout_user_avatar img {
    height: 110%;
}