.container {
    background-color: #040507;
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    height: 100%;
    overflow: hidden;
    padding: 5px;
    width: 450px;
}

.contentHeader {
    padding: 16px 0;
}

.contentHeader .title {
    font-size: 28px;
    font-weight: 800;
    margin: 0;
}

.contentBody {
    background-color: #0a0e10;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    padding: 28px;
}

.contentBody .title {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 16px;
}