:host {
    background-color: black;
    border-radius: 12px;
    color: white;
    display: flex;
    font-family: 'Geist Variable', sans-serif;
    height: 128px;
    padding: 10px;
    width: 256px;
}

.name {
    font-size: 1.125em;
    font-weight: 500;
    font-variation-settings: 'wght' 400;
}